div#statesign{background-color:#ffffff;float:right;text-align:right;height:30px;width:20%;}
div#container{width:1000px;background-color:#ffffff;}
div#header {margin-left: 10%;background-color:#ffffff;text-align:center;height:120px;width:80%;float:left;}
div#content {margin-left: 18%;background-color:#ffffff;width:100%;float:left;}
div#footer {background-color:#ffffff;clear:both;text-align:center;}
div#navi_bar{margin-left: 21%;background-color:#ffffff;clear:both;text-align:center;float:center;}
div#signout{background-color:#ffffff;text-align:center;}
div#buyerneed{background-color:#ffffff;float:left;width:100%;font-family: sans-serif;}
div#photo{background-color:#ffffff;float:left;width:12%;font-family: sans-serif;}
div#message{background-color:#ffffff;float:left;width:80%;font-family: sans-serif;}
div#page{background-color:#ffffff;float:right; text-align:center; width:100%;font-family: sans-serif;}
h5.message {font-family: Georgia, serif;}
h1 {margin-bottom:0;}
h2 {margin-bottom:0;font-size:18px;}
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
display:inline;
float:left;
}
a.one:link,a.one:visited
{
width:192px;
font-weight:bold;
color:#FFFFFF;
display:block;
background-color:#add8e6;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a.one:hover,a.one:active
{
background-color:#bebebe;
}
a.two:link {color:#109000;text-decoration:none;}
a.two:visited {color:#1090ff;text-decoration:none;}
a.two:hover,a.two:active {color:#1090ff;text-decoration:none;}
