div#infogoods{background-color:#ffffff;float:left;width:78%;}
div#navi{background-color:#ededed;float:left;width:20%;}
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
a.one:link,a.one:visited
{
width:200px;
font-weight:bold;
color:#FFFFFF;
display:block;
background-color:#add8e6;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
a.one:hover,a.one:active
{
background-color:#bebebe;
}
a.two:link,a.two:visited
{
width:200px;
font-weight:bold;
color:#FFFFFF;
display:block;
background-color:#bebebe;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
a.two:hover,a.two:active
{
background-color:#bebebe;
}
